@use '@styles/mixins' as mixins;

.main {
  padding: 80px 80px 0 80px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  width: fit-content;
  margin: 0 auto;

  @include mixins.mobile {
    padding: 56px 40px 0 40px;
    row-gap: 24px;
  }
}