@use '@styles/variables' as variables;
@use '@styles/mixins' as mixins;

@mixin flex-container {
  display: flex;
  flex-grow: 1;
  align-self: center;
}

.body-row {
  height: 80px;
}

.body-row:not(:last-of-type) {
  &>* {
    border-bottom: 1px solid variables.$border-color;
  }
}

.user-id,
.user-personal-data,
.to-do-count {
  @include flex-container();
}

.user-personal-data {
  padding-left: 8px;
  column-gap: 16px;
}

.to-do-count {
  padding-left: 12px;

  @include mixins.mobile {
    padding-left: unset;
    justify-self: center;
  }
}

.name-email-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.user-name {
  padding-bottom: 4px;
}

.user-icon {
  @include mixins.mobile {
    width: 28px;
  }
}

.user-email {
  color: variables.$secondary-text-color;
  font-size: 12px;

  @include mixins.mobile {
    font-size: 10px;
  }
}

.user-id {
  justify-self: center;
}