@use '@styles/variables' as variables;
@use '@styles/mixins' as mixins;

.table {
  border: 1px solid variables.$border-color;
  border-radius: 8px;
  border-spacing: 0;
  overflow: hidden;

  @include mixins.desktop {
    width: 1570px;
  }

  @include mixins.tablet {
    width: 675px;
  }

  @include mixins.mobile {
    width: 322px;
  }
}

.header {
  letter-spacing: 0.05em;
  font-family: Inter;
  background-color: variables.$secondary-background-color;
  font-weight: 600;
  color: variables.$secondary-text-color;
  font-size: 12px;
  text-align: left;

  &>* {
    padding: 8.5px 12px;
    white-space: nowrap;
  }

  &>:first-child {
    padding: 8.5px 20px;
  }

  &>:nth-child(2) {
    width: 100%;
  }

  @include mixins.mobile {
    font-size: 8px;

    &>* {
      padding: 11px 12px;
    }

    &>:first-child {
      padding: 8.5px 16px;
    }
  }
}
