// Используемые цвета
$primary-background-color: #373E45;
$secondary-background-color: #ffffff0a;

$border-color: #4B5258;

$primary-text-color: #ffffff;
$secondary-text-color: #ffffff4d;

// Используемые брейкпоинты
$mobile: 402px;
$tablet: 834px;
$desktop: 1728px;